.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .details div{
      margin: 10px;
  }
  
  .details strong{
      margin: 10px;
      
  }
